/* @import "tw-animate-css"; */
@import "tailwindcss";

@plugin "tailwindcss-animate";
/* @custom-variant dark (&:is(.dark *)); */
@config "../tailwind.config.js";

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-Thin.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "YekanBakh";
  src: url("/fonts/yekanBakh/YekanBakhFaNum-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-figtree: "Figtree", sans-serif, "YekanBakh";
}

@layer base {
  html {
    font-family: var(--font-figtree);
  }
}


.swiper {
  width: 100%;
  height: 100%;
}
